@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background: white;
}


.wrapper    {
    display: flex;
    position: relative;
}
.wrapper .sidebar   {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #ff0054;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #ffbd00;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px;
    border-top: 1px;
}

.wrapper .sidebar ul li a {
    color: #ffbd00;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: purple;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #ffbd00;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #ff0054;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.wrapper .sidebar .social_media a:hover{
    color: purple;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #ff0054;
    color: #ffbd00;
    border-bottom: 1px solid #e0e4e8;
    text-align: center;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
}

.wrapper .main_content .pictures {
    display: block;
    text-align: center;
}

img {
    width: 30%;
    margin: 10px;
}